.center{
  position: relative;
  top: 25%;
  transform: translateY(-50%);
}
.box {
  font-size: 1.25rem;
  background-color: #d9edf7;
  padding: 20px 20px;
  position: relative;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.box__input {
  font-size: 2.5rem;
  color: #00529b;
  padding: 30px 20px;
}

.box__input label u:hover {
  color: #ffffff;
  cursor: pointer;
}

.box__dragndrop, .box__uploading, .box__success, .box__error {
  display: none;
}

.box.has-advanced-upload #arrow {
  position: absolute;
  left: calc((100% - 64.28px) / 2);
  animation: fall 2s linear infinite;
}

@keyframes fall {
  0% {
    top: 35%
  }
  50% {
    top: 30%
  }
  75% {
    top: 32.5%
  }
  100% {
    top: 35%
  }
}

.box.has-advanced-upload {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 1.5s ease-in-out, background-color 1.5s linear;
  transition: outline-offset 1.5s ease-in-out, background-color 1.5s linear;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: grey;
}